* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100svh;
  /* background: #7FFFD4; */
}

body {
  height: 100svh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6bfd2;
  position: relative;
  /* overflow: hidden; */
}


@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

#root {
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  position: relative;
  z-index: 1;
}

